In [32]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [33]:
import pandas as pd
import os
import requests

import util as u

from bs4 import BeautifulSoup
from glob import glob
from tqdm import tqdm_notebook as tqdm

pd.set_option('display.max_columns', 200)

In [3]:
#巡回先を作る
#枠とレースIDがあればマージできる？
result_infofile_list = glob("test/*/info_html/*") # 後々フォルダーが変わる
main_info_file = [x.replace("\\", "/") for x in result_infofile_list]

result_resultfile_list = glob("test/*/result_html/*") # 後々フォルダーが変わる
main_result_file = [x.replace("\\", "/") for x in result_resultfile_list]

target_info_list = [] #配列を空にする
target_result_list = [] #配列を空にする

match_up_info_list = [] #配列を空にする
match_up_result_list = [] #配列を空にする

#is_file = os.path.isfile("match_up.txt")

#if is_file:
#    with open("match_up.txt", "r") as tf:
#        match_up_list = tf.read().split(',')[:-1]
#    #途中から始めるためのコード書く
#    target_txts_list = set(result_file) - set(match_up_list)
#else:
#    target_txts_list = result_file

target_info_list = main_info_file[0:10]
target_result_list = main_result_file[0:10]

In [136]:
#データフレームを4個作る
main_info = pd.DataFrame(index=[])
main_info_dummy = pd.DataFrame(index=[])
main_result = pd.DataFrame(index=[])
main_result_dummy = pd.DataFrame(index=[])

New_col = 'insert_1_1 insert_1_2 insert_2_1 insert_2_2 insert_3_1 insert_3_2 insert_4_1 insert_4_2 insert_5_1 insert_5_2 insert_6_1 insert_6_2 insert_7_1 insert_7_2 \
            start_timing_1_1 start_timing_1_2 start_timing_2_1 start_timing_2_2 start_timing_3_1 start_timing_3_2 start_timing_4_1 start_timing_4_2 start_timing_5_1 start_timing_5_2 start_timing_6_1 start_timing_6_2 start_timing_7_1 start_timing_7_2 \
            rank_1_1 rank_1_2 rank_2_1 rank_2_2 rank_3_1 rank_3_2 rank_4_1 rank_4_2 rank_5_1 rank_5_2 rank_6_1 rank_6_2 rank_7_1 rank_7_2'.split()

dfs_all = pd.DataFrame(index=[])
dfs_dummy = pd.DataFrame(index=[])

In [148]:
# info_htmlの加工をする
# race_id、枠、選手ID、級別、F数、L数、平均ST、モーター2連、モーター3連、初日進入、初日ST、初日成績、～ 、最終日、
# 体重、調整、展示タイム、チルト、プロペラ、部品交換

for target_info in tqdm(target_info_list):
    #レース結果を保存したhtmlファイルとそのDF
    dfs = pd.read_html(target_info, encoding="utf-8")
    race_info1_df = dfs[0]
    
    main_info_dummy.loc[0,"Race_ID"] = target_info[-19:-5]
    #main_info_dummy.loc[0,"Frame"] = 
    z = u.parse(race_info1_df)
    #y = pd.merge(z, dfs_dummy)
    #display(z)

    #x_ = x.iloc[i:i+2,0:2]
    #display[x_]
#dfs = pd.read_html(target_info_list[0])
#for i in range(0, ):

display(u.open_Grades_sort(target_info))
#display(x.head())
#display(x.iloc[1,2])

C:\Users\rstta\AppData\Local\Temp/ipykernel_6092/3060323060.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for target_info in tqdm(target_info_list):

  0%|          | 0/10 [00:00<?, ?it/s]

D:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2947: PerformanceWarning: indexing past lexsort depth may impact performance.
  return runner(coro)

,insert_1_1,insert_1_2,insert_2_1,insert_2_2,insert_3_1,insert_3_2,insert_4_1,insert_4_2,insert_5_1,insert_5_2,insert_6_1,insert_6_2,insert_7_1,insert_7_2,start_timing_1_1,start_timing_1_2,start_timing_2_1,start_timing_2_2,start_timing_3_1,start_timing_3_2,start_timing_4_1,start_timing_4_2,start_timing_5_1,start_timing_5_2,start_timing_6_1,start_timing_6_2,start_timing_7_1,start_timing_7_2,rank_1_1,rank_1_2,rank_2_1,rank_2_2,rank_3_1,rank_3_2,rank_4_1,rank_4_2,rank_5_1,rank_5_2,rank_6_1,rank_6_2,rank_7_1,rank_7_2
0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,３,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,１,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,５,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,２,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,６,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
z = u.parse(dfs[0])
#y = pd.merge(z, dfs_dummy)
display(z)

  en                                 info          flst                 m
0  １   3943  / B1 三松 直美 岡山/岡山  39歳/61.1kg  F0  L0  0.19  62  41.18  52.94
1  ２  3999  / A1 大瀧　明日香 愛知/静岡  38歳/47.0kg  F0  L0  0.16  47  42.31  55.13
2  ３   4878  / B1 西岡 育未 徳島/徳島  23歳/46.0kg  F0  L0  0.19  53  31.76  57.65
3  ４   4123  / A1 細川 裕子 愛知/愛知  36歳/46.5kg  F0  L0  0.19  28  50.00  64.47
4  ５   4963  / B1 實森 美祐 広島/広島  21歳/47.3kg  F0  L0  0.19  24  37.50  51.14
5  ６   4843  / B1 深尾 巴恵 群馬/群馬  25歳/46.5kg  F0  L0  0.18  49  41.56  50.65

In [138]:
dfs_dummy = pd.DataFrame(index=[])
dfs = pd.read_html("row_html/01/info_html/01_20180520_10.html", encoding="utf-8")
dfs_ = dfs[0]["レースNo（艇番色）進入コースSTタイミング成績", "レースNo（艇番色）進入コースSTタイミング成績"]

for i in range(1, 25, 4):
    x = pd.concat([dfs_.iloc[i], dfs_.iloc[i+1], dfs_.iloc[i+2]])
    x_ = pd.DataFrame(x)
    x_ = x_.reset_index()
    #x_ = x_.drop('index', axis=1, inplace=True)
    x_ = x_.transpose()
    x_ = x_.iloc[1]
    #x_ = x_.insert(0, "race_id", "01_20180520_10")
    dfs_dummy = dfs_dummy.append(x_)

dfs_dummy.columns = New_col

dfs_dummy.reset_index(drop=True, inplace=True)
#dfs_all = dfs_dummy.insert(0, 'new_column', 'value')

display(dfs_dummy)

D:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2901: PerformanceWarning: indexing past lexsort depth may impact performance.
  result = self._run_cell(

,insert_1_1,insert_1_2,insert_2_1,insert_2_2,insert_3_1,insert_3_2,insert_4_1,insert_4_2,insert_5_1,insert_5_2,insert_6_1,insert_6_2,insert_7_1,insert_7_2,start_timing_1_1,start_timing_1_2,start_timing_2_1,start_timing_2_2,start_timing_3_1,start_timing_3_2,start_timing_4_1,start_timing_4_2,start_timing_5_1,start_timing_5_2,start_timing_6_1,start_timing_6_2,start_timing_7_1,start_timing_7_2,rank_1_1,rank_1_2,rank_2_1,rank_2_2,rank_3_1,rank_3_2,rank_4_1,rank_4_2,rank_5_1,rank_5_2,rank_6_1,rank_6_2,rank_7_1,rank_7_2
0,2,5,5,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.15,.11,.18,NaN,NaN,NaN,.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,４,４,３,NaN,NaN,NaN,２,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,3,1,NaN,4,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.07,.24,.31,NaN,.20,NaN,.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,２,３,３,NaN,１,NaN,２,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,2,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.20,.22,.16,.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,３,３,１,６,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,1,3,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.13,.22,.24,NaN,NaN,NaN,.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,１,１,４,NaN,NaN,NaN,３,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,4,5,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.08,.18,.35,NaN,NaN,NaN,.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,３,５,６,NaN,NaN,NaN,６,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,NaN,1,3,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.19,NaN,.25,.12,NaN,NaN,.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,２,NaN,３,５,NaN,NaN,５,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# result_htmlの加工をする