In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import os
import requests
from bs4 import BeautifulSoup

import util as u

from glob import glob
from tqdm import tqdm_notebook as tqdm

pd.set_option('display.max_columns', 200)

In [4]:
#巡回先を作る
#枠とレースIDがあればマージできる？
result_infofile_list = glob("test/*/info_html/*") # 後々フォルダーが変わる
main_info_file = [x.replace("\\", "/") for x in result_infofile_list]

result_resultfile_list = glob("test/*/result_html/*") # 後々フォルダーが変わる
main_result_file = [x.replace("\\", "/") for x in result_resultfile_list]

target_info_list = [] #配列を空にする
target_result_list = [] #配列を空にする

match_up_info_list = [] #配列を空にする
match_up_result_list = [] #配列を空にする

#is_file = os.path.isfile("match_up.txt")

#if is_file:
#    with open("match_up.txt", "r") as tf:
#        match_up_list = tf.read().split(',')[:-1]
#    #途中から始めるためのコード書く
#    target_txts_list = set(result_file) - set(match_up_list)
#else:
#    target_txts_list = result_file

target_info_list = main_info_file[9:10]
target_result_list = main_result_file[0:1]

In [5]:
#データフレームを4個作る
main_info = pd.DataFrame(index=[])
main_info_dummy = pd.DataFrame(index=[])
main_result = pd.DataFrame(index=[])
main_result_dummy = pd.DataFrame(index=[])

New_col = 'insert_1_1 insert_1_2 insert_2_1 insert_2_2 insert_3_1 insert_3_2 insert_4_1 insert_4_2 insert_5_1 insert_5_2 insert_6_1 insert_6_2 insert_7_1 insert_7_2 \
            start_timing_1_1 start_timing_1_2 start_timing_2_1 start_timing_2_2 start_timing_3_1 start_timing_3_2 start_timing_4_1 start_timing_4_2 start_timing_5_1 start_timing_5_2 start_timing_6_1 start_timing_6_2 start_timing_7_1 start_timing_7_2 \
            rank_1_1 rank_1_2 rank_2_1 rank_2_2 rank_3_1 rank_3_2 rank_4_1 rank_4_2 rank_5_1 rank_5_2 rank_6_1 rank_6_2 rank_7_1 rank_7_2'.split()

dfs_all = pd.DataFrame(index=[])
dfs_dummy = pd.DataFrame(index=[])

In [6]:
###後で消す↓###
main_info = pd.DataFrame(index=[])
main_info_dummy = pd.DataFrame(index=[])
###↑後で消す###

# info_htmlの加工をする
# race_id、枠、選手ID、級別、体重(直前情報から取る)、調整重量、F数、L数、平均ST、モーター2連、モーター3連、初日進入、
# 初日ST、初日成績、～ 、最終日、展示タイム、チルト、プロペラ、部品交換

for target_info in tqdm(target_info_list):
    for i in range(1, 7):
        target_info_day = target_info[-19:-5]
        Pit_No = f"{i:02}"
        
        #レース結果を保存したhtmlファイルとそのDF
        target_info_day = target_info[-19:-5]
        dfs = pd.read_html(target_info, encoding="utf-8")
        race_info1_df = dfs[0]
        
        #dfs[0]の整理
        df_player_info = u.split_inner_data(u.parse(race_info1_df), target_info_day)
        df_player_info = df_player_info.iloc[i-1]

        player_ID = df_player_info["pid"]

        #複勝率、三連率を計算
        player_win_rate = u.player_win_rate_cal(target_info_day, player_ID)
        se_player_win_rate = player_win_rate.iloc[0]





        #結合する
        df_open_grades = u.Open_Grades_sort(target_info).iloc[i-1]

        main_info_dummy = pd.concat([df_player_info, se_player_win_rate])
        #
        main_info_dummy = pd.concat([main_info_dummy, df_open_grades])

        main_info = main_info.append(main_info_dummy, ignore_index=True)

#print(df_player_info[0])
print(target_info)
#display(main_info)
#display(player_win_rate)
#display(dfs)
#display(dfs[1])
#display(dfs[2])

C:\Users\rstta\AppData\Local\Temp/ipykernel_30220/1122333444.py:10: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for target_info in tqdm(target_info_list):

  0%|          | 0/1 [00:00<?, ?it/s]

D:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2947: PerformanceWarning: indexing past lexsort depth may impact performance.
  return runner(coro)

test/01/info_html/01_20140102_10.html

In [59]:
display(main_info)

,rid,en,pid,class,branch,weight,F,L,st,mnww,mnwww,idx,q_Total_2,q_Total_3,h_Total_2,h_Total_3,q_Venue_2,q_Venue_3,h_Venue_2,h_Venue_3,insert_1_1,insert_1_2,insert_2_1,insert_2_2,insert_3_1,insert_3_2,insert_4_1,insert_4_2,insert_5_1,insert_5_2,insert_6_1,insert_6_2,insert_7_1,insert_7_2,start_timing_1_1,start_timing_1_2,start_timing_2_1,start_timing_2_2,start_timing_3_1,start_timing_3_2,start_timing_4_1,start_timing_4_2,start_timing_5_1,start_timing_5_2,start_timing_6_1,start_timing_6_2,start_timing_7_1,start_timing_7_2,rank_1_1,rank_1_2,rank_2_1,rank_2_2,rank_3_1,rank_3_2,rank_4_1,rank_4_2,rank_5_1,rank_5_2,rank_6_1,rank_6_2,rank_7_1,rank_7_2
0,01_20140102_10,1.0,3475,A2,群馬,51.9,0,0,0.19,22.20,-,01_20140102_10_01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01_20140102_10,2.0,3740,A1,群馬,52.7,0,0,0.16,0.00,-,01_20140102_10_02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01_20140102_10,3.0,2528,B1,群馬,50.4,0,0,0.17,33.30,-,01_20140102_10_03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01_20140102_10,4.0,3441,B1,群馬,52.1,0,0,0.18,55.50,-,01_20140102_10_04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01_20140102_10,5.0,3686,A2,群馬,51.3,0,0,0.16,75.00,-,01_20140102_10_05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01_20140102_10,6.0,4233,A2,群馬,50.0,0,0,0.16,0.00,-,01_20140102_10_06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
import re

In [202]:
load_url = target_info
target_col = "0 1 2 3 4 5 6 7 8 9 10 11 12 13".split()
New_col = "bort_color_1_1 bort_color_1_2 bort_color_2_1 bort_color_2_2 bort_color_3_1 bort_color_3_2 bort_color_4_1 bort_color_4_2 bort_color_5_1 bort_color_5_2 bort_color_6_1 bort_color_6_2 bort_color_7_1 bort_color_7_2".split()

df_boat_color = pd.DataFrame(index=[], columns=target_col)
#html = requests.get(load_url)

soup = BeautifulSoup(open("row_html/01/info_html/01_20140107_01.html", encoding="utf-8"), "lxml")

boat_pits = soup.select("[class^=is-boatColor]")

for i in range(6):
    is_fs = soup.find_all("tbody",attrs={"class":"is-fs12"})[i]
    table = is_fs.find_all("td")

    for x in range(9,23):#9,23
        if table[x].string:
            target_tag = str(is_fs.find_all("td")[x])

            #print("is-boatColor" in target_tag)
            #文字列にis-boatColorがあるかどうか
            #あればis-boatColorXのXをPandasに格納する
            if "is-boatColor" in target_tag:
                col_name = str(x-9)
                #print(target_tag[23:24])
                df_boat_color.loc[i, col_name] = int(target_tag[23:24])
            
df_boat_color.columns = New_col            
display(df_boat_color)

,bort_color_1_1,bort_color_1_2,bort_color_2_1,bort_color_2_2,bort_color_3_1,bort_color_3_2,bort_color_4_1,bort_color_4_2,bort_color_5_1,bort_color_5_2,bort_color_6_1,bort_color_6_2,bort_color_7_1,bort_color_7_2
0,4,2,1,NaN,6,NaN,5,3,5,NaN,NaN,NaN,NaN,NaN
1,3,NaN,2,4,5,NaN,1,NaN,3,6,NaN,NaN,NaN,NaN
2,3,NaN,5,NaN,2,4,1,4,6,2,NaN,NaN,NaN,NaN
3,4,6,2,3,1,NaN,5,NaN,3,1,NaN,NaN,NaN,NaN
4,5,NaN,3,NaN,2,1,6,NaN,6,NaN,NaN,NaN,NaN,NaN
5,2,NaN,3,NaN,5,4,1,NaN,5,2,NaN,NaN,NaN,NaN

In [91]:
tbl = soup.select('table')[-1] # 対象をわかりやすくするために絞る
tbody = tbl.select('tbody') # len=6になるのでこれが選手の行
print('選手データ行数', len(tbody))
print('-----------------------------')
 
data = []
for tb in tbody:
    l = []
    for tr in tb.select('tr'):
        ll = []
        for td in tr.select('td'):
            txt = td.text.strip()
            class_ = td.get('class')
            if class_:
                txt += ' class=' + class_[0]
            ll.append(txt)
        l.append(ll)
    data.append(l)
    break # とりあえず選手一人ぶんで停止
data

選手データ行数 1
-----------------------------

[[['1\n\n.14'],
  ['2\n\n.15'],
  ['3\n\n.13'],
  ['4\n\n.07'],
  ['5\n\n.02'],
  ['6\n\n.06']]]

In [8]:
# result_htmlの加工をする

### データが取れてないところからデータを取る処理を書く

### 現在開催されているデータを引っ張ってくる

### PyCaretってのを使ってみるよ