選手のレース場、着順、日付をひたすらまとめていく

In [4]:
#!pip install tqdm

Requirement already satisfied: tqdm in c:\users\rstta\anaconda3\lib\site-packages (4.62.3)
Requirement already satisfied: colorama in c:\users\rstta\anaconda3\lib\site-packages (from tqdm) (0.4.4)

In [2]:
import pandas as pd
import os
from glob import glob
from tqdm import tqdm_notebook as tqdm

#格納したいカラムのデータフレームを作成する
Player_Data = ["PlayerID", "PlayerName", "Rank", "Day", "Race_No", "Place"]
Player_Data_Ghost = pd.DataFrame(index=[], columns=Player_Data)
df_player_data = pd.DataFrame(index=[], columns=Player_Data)

In [5]:
result_file_list = glob("test/*/result_html/*")
result_file = [x.replace("\\", "/") for x in result_file_list]
#print(result_file[1])

#途中から始める処理を書く
is_file = os.path.isfile("match_up.txt")

target_txts_list = [] #配列を空にする
match_up_list = [] #配列を空にする

if is_file:
    with open("match_up.txt", "r") as tf:
        match_up_list = tf.read().split(',')[:-1]
    #途中から始めるためのコード書く
    target_txts_list = set(result_file) - set(match_up_list)
else:
    target_txts_list = result_file

print(len(result_file))
print(len(target_txts_list))

#ディレクトリ探す
#jou_number = os.listdir(f"test/")

37474
37474

In [6]:
#result_htmlにアクセスして回す

for target_txt in tqdm(target_txts_list):
    #レース結果を保存したhtmlファイルとそのDF
    dfs = pd.read_html(target_txt, encoding="utf-8")

    tyakujun = dfs[2]
    Player_Data_Ghost["PlayerID"] = tyakujun["ボートレーサー"].str.extract(r"(\d+)").astype(int)
    Player_Data_Ghost["PlayerName"] = tyakujun["ボートレーサー"].str.extract(r"(\D+)")
    Player_Data_Ghost["Place"] = target_txt[-19:-17]
    Player_Data_Ghost["Day"] = target_txt[-16:-8]#Data型にしたい
    Player_Data_Ghost["Day"] = pd.to_datetime(Player_Data_Ghost["Day"])
    Player_Data_Ghost["Race_No"] = target_txt[-7:-5]
    Player_Data_Ghost["Rank"] = tyakujun["着"]

    #DFに情報を追加する
    df_player_data = df_player_data.append(Player_Data_Ghost)

    #取得済みリストを作る
    with open("match_up.txt", "a", encoding="utf-8") as file:
            file.write(target_txt + ",")

df_player_data.drop_duplicates(keep="last", inplace=True)

C:\Users\rstta\AppData\Local\Temp/ipykernel_9520/3149970973.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for target_txt in tqdm(target_txts_list):

  0%|          | 0/37474 [00:00<?, ?it/s]

In [7]:
display(df_player_data)
df_player_data.describe()

   PlayerID PlayerName Rank        Day Race_No Place
0      4645      上村 純一    １ 2014-01-02      01    01
1      3532       柴田 光    ２ 2014-01-02      01    01
2      3115      鈴木 正人    ３ 2014-01-02      01    01
3      3560      太田 克哉    ４ 2014-01-02      01    01
4      3376      萩原 善行    ５ 2014-01-02      01    01
..      ...        ...  ...        ...     ...   ...
1      4954      内山 峻輔    ２ 2022-03-18      12    02
2      4360      庄司 孝輔    ３ 2022-03-18      12    02
3      3584     佐々木　英樹    ４ 2022-03-18      12    02
4      4532       秋元 哲    ５ 2022-03-18      12    02
5      3722      西村 秀樹    ６ 2022-03-18      12    02

[224844 rows x 6 columns]

C:\Users\rstta\AppData\Local\Temp/ipykernel_9520/196182690.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_player_data.describe()

        PlayerID PlayerName    Rank                  Day Race_No   Place
count   224844.0     224844  224843               224844  224844  224844
unique    1879.0       1878      17                 2285      12       2
top       3251.0      平石 和男       ２  2019-12-03 00:00:00      01      01
freq       617.0        617   37472                  144   18816  113154
first        NaN        NaN     NaN  2014-01-02 00:00:00     NaN     NaN
last         NaN        NaN     NaN  2022-03-18 00:00:00     NaN     NaN

In [11]:
df_player_data.isna().sum()

PlayerID      0
PlayerName    0
Rank          1
Day           0
Race_No       0
Place         0
dtype: int64

In [8]:
output_file = "PlayerRankData.csv"
df_player_data.to_csv(os.path.join("data/", output_file), mode="a", index=False)

#目的は？四半期、半期毎のトータルの複勝率、三連率、開催地の複勝率、三連率をリターンする関数

In [ ]:
PlayerRankData = pd.read_csv("data/PlayerRankData.csv", encoding="utf-8")

In [55]:
class WinRate:

#引数に何を持ってくるか？
##Day、Race_No、Player、Rank、Place

def player_winrate(x,):
    PRD_H_Period = PlayerRankData.query('"2015-01-01" <= Day <= "2015-07-01"')#開催日から半期さかのぼる処理を書きたい
    PRD_Q_Period = PlayerRankData.query('"2015-04-01" <= Day <= "2015-07-01"')#開催日から4半期さかのぼる処理を書きたい

    #開催地のデータ―
    #Placeを変数にする
    PRD_Loc_H_Period = PRD_H_Period.query("1 == Place") #半期の開催地のデータ
    PRD_Loc_Q_Period = PRD_Q_Period.query("1 == Place") #四半期の開催地のデータ

    #PlayerIDの選手の全出場数
    Player_Turn_Sum = PRD_H_Period[PRD_H_Period["PlayerID"] == ] #PlayerIDを変数にする

    #出場回数によって決められた値を与える
    #半期の全出場回数が200未満はnanをとりあえず入れる。
    #後で平均値よりしたの値を代入

    #全場の勝率
    if len(Player_Turn_Sum) > 300:
        #半期毎
        ##全開催地の勝率を計算
        PRD_H_1st = PRD_H_Period['PlayerID'][PRD_H_Period['Rank']=="１"].value_counts() / PRD_H_Period['PlayerID'].value_counts()
        PRD_H_2nd = PRD_H_Period['PlayerID'][PRD_H_Period['Rank']=="２"].value_counts() / PRD_H_Period['PlayerID'].value_counts()
        PRD_H_3rd = PRD_H_Period['PlayerID'][PRD_H_Period['Rank']=="３"].value_counts() / PRD_H_Period['PlayerID'].value_counts()

        DW_H_Rate = PRD_H_1st + PRD_H_2nd
        DW_H_Rate = DW_H_Rate.fillna(0)
        TW_H_Rate = DW_H_Rate + PRD_H_3rd
        TW_H_Rate = TW_H_Rate.fillna(0)

        ##開催地の勝率を計算
        PRD_Loc_H_1st = PRD_Loc_H_Period['PlayerID'][PRD_Loc_H_Period['Rank']=="１"].value_counts() / PRD_Loc_H_Period['PlayerID'].value_counts()
        PRD_Loc_H_2nd = PRD_Loc_H_Period['PlayerID'][PRD_Loc_H_Period['Rank']=="２"].value_counts() / PRD_Loc_H_Period['PlayerID'].value_counts()
        PRD_Loc_H_3rd = PRD_Loc_H_Period['PlayerID'][PRD_Loc_H_Period['Rank']=="３"].value_counts() / PRD_Loc_H_Period['PlayerID'].value_counts()

        DW_Loc_H_Rate = PRD_Loc_H_1st + PRD_Loc_H_2nd
        DW_Loc_H_Rate = DW_Loc_H_Rate.fillna(0)
        TW_Loc_H_Rate = DW_Loc_H_Rate + PRD_Loc_H_3rd
        TW_Loc_H_Rate = TW_Loc_H_Rate.fillna(0)

    else:
        print("50未満")

    if len(Player_Turn_Sum) >= 0:
        #四半期毎
        ##全開催地の勝率を計算
        PRD_Q_1st = PRD_Q_Period['PlayerID'][PRD_Q_Period['Rank']=="１"].value_counts() / PRD_Q_Period['PlayerID'].value_counts()
        PRD_Q_2nd = PRD_Q_Period['PlayerID'][PRD_Q_Period['Rank']=="２"].value_counts() / PRD_Q_Period['PlayerID'].value_counts()
        PRD_Q_3rd = PRD_Q_Period['PlayerID'][PRD_Q_Period['Rank']=="３"].value_counts() / PRD_Q_Period['PlayerID'].value_counts()

        DW_Q_Rate = PRD_Q_1st + PRD_Q_2nd
        DW_Q_Rate = DW_Q_Rate.fillna(0)
        TW_Q_Rate = DW_Q_Rate + PRD_Q_3rd
        TW_Q_Rate = TW_Q_Rate.fillna(0)

        ##開催地の勝率を計算
        PRD_Loc_Q_1st = PRD_Loc_Q_Period['PlayerID'][PRD_Loc_Q_Period['Rank']=="１"].value_counts() / PRD_Loc_Q_Period['PlayerID'].value_counts()
        PRD_Loc_Q_2nd = PRD_Loc_Q_Period['PlayerID'][PRD_Loc_Q_Period['Rank']=="２"].value_counts() / PRD_Loc_Q_Period['PlayerID'].value_counts()
        PRD_Loc_Q_3rd = PRD_Loc_Q_Period['PlayerID'][PRD_Loc_Q_Period['Rank']=="３"].value_counts() / PRD_Loc_Q_Period['PlayerID'].value_counts()

        DW_Loc_Q_Rate = PRD_Loc_Q_1st + PRD_Loc_Q_2nd
        DW_Loc_Q_Rate = DW_Loc_Q_Rate.fillna(0)
        TW_Loc_Q_Rate = DW_Loc_Q_Rate + PRD_Loc_Q_3rd
        TW_Loc_Q_Rate = TW_Loc_Q_Rate.fillna(0)
    else:
        print("50未満")

    Player_Win["PlayerID"] = #PlayerIDの変数
    Player_Win["Day"] = #Dayの変数
    Player_Win

    return




#playerIDで抽出したい、
#forでIDで回す
#display(PlayerRankData)

#x = PlayerRankData[PlayerRankData['PlayerID'] == 4645] #PlayerIDを変数にする
#len(x['PlayerID']).value_counts()
#display(x)
#len(x) #総出場数

#PlayerRankData[PlayerRankData['PlayerID'] == 4645]

#display(x)
    #3ヶ月勝率、6ヶ月勝率=Dayから3ヶ月、6ヶ月前に遡って集計をする

    #出場数を集計する
    #全部の1or2の回数を数える、3の回数を数えて前のに足す
    #上記の勝ち数、出場数からPlaceデータで分別する
    #勝ち数/出場数で勝率を求める

50未満

0.41666666666666663

0.5833333333333333

0.5

In [45]:
z=PlayerRankData['PlayerID'][PlayerRankData['Rank']=="１"].value_counts() / PlayerRankData['PlayerID'].value_counts()
zz = PlayerRankData['PlayerID'][PlayerRankData['Rank']=="２"].value_counts() / PlayerRankData['PlayerID'].value_counts()
z = z.fillna(0)
zz = zz.fillna(0)

zzz = z + zz
print(zzz)
zzz[4645]

1485    0.313953
2014    0.317365
2273    0.304348
2276    0.250000
2377    0.047619
          ...
5220    0.000000
5225    0.000000
5226    0.000000
5228    0.111111
5231    0.000000
Name: PlayerID, Length: 1879, dtype: float64

0.4836852207293666

In [50]:
r1df = PlayerRankData[PlayerRankData['Rank']=="１"]
r1df['PlayerID'].value_counts()

SyntaxError: invalid syntax (Temp/ipykernel_10832/915322008.py, line 1)

In [44]:
4645*39

181155

In [27]:
display(PlayerRankData)
PlayerRankData.dtypes

      PlayerID PlayerName Rank         Day  Race_No  Place
0         4645      上村 純一    １  2014-01-02        1      1
1         3532       柴田 光    ２  2014-01-02        1      1
2         3115      鈴木 正人    ３  2014-01-02        1      1
3         3560      太田 克哉    ４  2014-01-02        1      1
4         3376      萩原 善行    ５  2014-01-02        1      1
...        ...        ...  ...         ...      ...    ...
4789      4337      平本 真之    ２  2014-05-16       11      1
4790      3514      山一 鉄也    ３  2014-05-16       11      1
4791      4292      麻生 慎介    ４  2014-05-16       11      1
4792      4109      谷津 幸宏    ５  2014-05-16       11      1
4793      3233      小畑 実成    ６  2014-05-16       11      1

[4794 rows x 6 columns]

PlayerID       int64
PlayerName    object
Rank          object
Day           object
Race_No        int64
Place          int64
dtype: object

In [ ]:
#player_winrate()

In [16]:
import os
import pandas as pd

#NoAは出場数、_2は二連率、_3は3連率、Venueは開催地、qは3ヶ月、hは6ヶ月
Player_Win = [ "RaceID","PlayerID", "NoA",
                "q_Total_2", "q_Total_3", "h_Total_2", "h_Total_3",
                "q_Venue_2", "q_Venue_3", "h_Venue_2", "h_Venue_3"]

url = "test/01/result_html/01_20140102_01.html"
dfs = pd.read_html(url, encoding="utf-8")
dfs[2]

Player_Win_Rate = pd.DataFrame(index=[], columns=Player_Win)